body{
    margin-left: 40px;
    color: green;
    font-size: 60px;

}

p{
    
    color:rgb(42, 140, 165)

}

.propaganda{
    
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;

}

.titulo{
    
    color: fuchsia;
    font-size: 30px;

}

#xilindro{
    
    color: orangered;

}

.fundo-verde{
    color: yellow;
    background-color: green;
    
    

}

.fundo-verde p{
color: yellow;
transition: all 5s ease;

}
/* usar sinal de maior para filhos direto*/
/*usar espaço para todos os descendentes*/

/*pseudo -class definen propriedades e valores para um determinado estado de elemento*/
.fundo-verde :hover{
 background-color: blue;

}

/*pseudo-elemento são usados para adicionar efeitos diferentes a 
um seletor, ou a parte de um seletor*/
.fundo-verde ::before{
    color:rebeccapurple;
    content:"Olá eu sou uma string que aparece magicamente antes do elemento  ";

}
/*aqui vamos combinar o uso do pseudo-elemento no .fundo-verde::after*/
.fundo-verde:hover ::after{
    color: aqua;
    height: 50px;
    content: "  Eu sou um pseudo-elemento que aparece depois do elemento";
   

}
 